body {
  position: relative;
}
.bg {
  width: 100%;
  height: 284px;
  background: linear-gradient(
    180deg,
    rgba(106, 96, 228, 0.11) 0%,
    rgba(255, 255, 255, 0.27) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
}
.violet {
  color: #6A60E4;
}
.h1 {
  font-size: 27px;
  font-weight: 600;
  color: #000;
  line-height: 42px;
}
.h2 {
  font-size: 24px;
  font-weight: 600px;
  color: #000;
  line-height: 34px;
}
.tag {
  font-size: 14px;
  color: #4f555b;
  line-height: 21px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.tag .tag-text {
  position: relative;
}
.tag .tag-text::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 18px;
  background-color: #c4c8cb;
  left: -38px;
  top: 50%;
}
.tag .tag-text::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 18px;
  background-color: #c4c8cb;
  right: -38px;
  top: 50%;
}

/*------------------- header -------------------*/
.header {
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
}
.logo .logo-img {
  width: 36px;
  height: 36px;
  margin-right: 6px;
  background: url('../img/logo.png') no-repeat center center;
  background-size: cover;
}
.logo .h4 {
  font-size: 16px;
  font-weight: 500;
  color: #313356;
  line-height: 23px;
}
.logo .des {
  font-size: 11px;
  font-weight: 400;
  color: #8b8f92;
  line-height: 15px;
}

.nav {
  display: flex;
}
.nav .nav-item {
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  margin-left: 30px;
  padding: 0 10px;
  min-width: 86px;
  box-sizing: border-box;
}
.nav .nav-item a {
  color: #333333;
  text-decoration: none;
}
.nav .language {
  padding-right: 20px;
  position: relative;
  cursor: pointer;
  user-select: none
}
.nav .language::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 1px solid #333;
  position: absolute;
  right: 2px;
  top: 50%;
  border-top: none;
  border-right: none;
  transform: translateY(-80%) rotate(-45deg);
  transition: all 0.3s;
}
.nav .language .language-list {
  display: none;
  position: absolute;
  left: 0;
  bottom: -94px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px 0px rgba(205,200,246,0.5);
  border-radius: 8px;
  padding: 16px 12px;
  width: 100%;
  box-sizing: border-box;
}
.nav .language .language-list .language-item {
  font-size: 14px;
  color: #333;
  line-height: 20px;
  margin-bottom: 15px;
}
.nav .language .language-list .language-item:last-child {
  margin-bottom: 0;
}
.nav .language .language-list .language-item a:hover {
  color: #6A60E4;
}
.nav .language.active::after {
  transform: translateY(-20%) rotate(135deg);
  
}
.nav .language.active .language-list {
  display: block;
}

/*------------------- content -------------------*/
.part1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.part1 .left {
  width: 358px;
}
.part1 .text {
  margin-top: 22px;
  font-size: 12px;
  color: #4f555b;
  line-height: 24px;
}

.part1 .right {
  width: 344px;
  height: 302px;
  background: url('../img/part1.png') no-repeat center center;
  background-size: cover;
}

.part2 {
  margin-top: 80px;
}
.part2 .h1 {
  text-align: center;
}
.part2 .slide-box {
  height: 348px;
  margin-top: 30px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.part2 .slide-list-wrap {
  height: 100%;
  position: relative;
  flex: 1;
  overflow: hidden;
}
.part2 .slide-list {
  position: relative;
  left: 0;
  transition: all 0.3s linear;
}
.part2 .slide-list.active1 {
  top: 0;
}
.part2 .slide-list.active2 {
  top: -100%;
}
.part2 .slide-list.active3 {
  top: -200%;
}

.part2 .slide-box .slide-item {
  display: flex;
  align-items: center;
}
.part2 .slide-box .slide-item-left {
  width: 398px;
  height: 348px;
  margin-right: 60px;
  background-size: cover !important;
}

.part2 .slide-box .img1 {
  background: url('../img/part2_1.png') no-repeat center center;
}
.part2 .slide-box .img2 {
  background: url('../img/part2_2.png') no-repeat center center;
}
.part2 .slide-box .img3 {
  background: url('../img/part2_3.png') no-repeat center center;
}
.part2 .slide-box .slide-item-right {
  width: 240px;
}
.part2 .slide-box .slide-item-right .icon {
  width: 46px;
  height: 46px;
  margin-bottom: 30px;
  background-size: cover !important;
}
.part2 .slide-box .slide-item-right .icon1 {
  background: url('../img/part2_1_icon.png') no-repeat center center;
}
.part2 .slide-box .slide-item-right .icon2 {
  background: url('../img/part2_2_icon.png') no-repeat center center;
}
.part2 .slide-box .slide-item-right .icon3 {
  background: url('../img/part2_3_icon.png') no-repeat center center;
}
.part2 .slide-box .slide-item-right .h3 {
  font-size: 19px;
  font-weight: 600;
  color: #000;
  line-height: 25px;
  margin-bottom: 14px;
}
.part2 .slide-box .slide-item-right .text {
  font-size: 12px;
  color: #4f555b;
  line-height: 23px;
  margin-bottom: 25px;
}
.part2 .slide-box .slide-item-right .link {
  font-size: 14px;
  color: #6A60E4;
  line-height: 23px;
  cursor: pointer;
}

.part2 .slide-box  .slide-actions {
  display: flex;
  flex-flow: column;
  height: 50%;
  justify-content: space-between;
}
.part2 .slide-box .slide-actions-item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #8B8F92;
  cursor: pointer;
}
.part2 .slide-box .slide-actions-item.active {
  border: 1px solid #6A60E4;
  color: #6A60E4;
}

.part3 .h1 {
  text-align: center;
}
.part3 .feature {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.feature-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  max-width: 180px;
}
.feature-item .icon {
  width: 110px;
  height: 110px;
  background-size: cover;
}
.feature-item .icon1 {
  background: url('../img/part3_1.png') no-repeat center center;
}
.feature-item .icon2 {
  background: url('../img/part3_2.png') no-repeat center center;
}
.feature-item .icon3 {
  background: url('../img/part3_3.png') no-repeat center center;
}
.feature-item .h2 {
  margin-top: 3px;
  margin-bottom: 7px;
}
.feature-item .text {
  font-size: 12px;
  color: #4f555b;
  line-height: 23px;
}

.part4 {
  width: 800px;
  height: 348px;
  background: url('../img/part4.png') no-repeat center center;
  background-size: cover;
  margin-top: 132px;
  position: relative;
}
.part4 .btn {
  position: absolute;
  left: 103px;
  top: 238px;
  width: 198px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: linear-gradient(-309deg, #887CEC 0%, #685EE3 100%);
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}



.footer {
  border-top: 1px solid #edf0f1;
  padding-top: 35px;
  margin-top: 72px;
}
.copyright {
  font-size: 12px;
  color: #333;
}